body, html{
    background: black;
    color:white;
}
.content_wrapper{
    min-height:800px;
    border-left:1px solid lightgrey;
    border-right:1px solid lightgrey;
}

.cells__cnt{
    width:524px !important;
    height:524px !important;
    border:1px solid grey;
    padding: 5px;
}
.fields__cell{
    width:100px !important;
    height:100px !important;
    padding:1px;
    margin:1px;
    border:1px solid grey;
    font-size: 9px;
    cursor:pointer;
}
.fields__cell_clicked{
    border:1px solid green;
}

.action_btn__edifice{
    width:150px;
    height:100px;
    border:1px solid white;
    padding:2px;
    margin:2px;
    cursor: pointer;
    font-size:10px;
}