form(method='post')
    .row
        .col-md-12
            label
                | Email
                input.form-control(type='text', placeholder='email')
        .col-md-12
            label
                | Password
                input.form-control(type='password', placeholder='password')
        .col-md-12
            button.btn.btn-success(type='submit') Login